/* Styling for the sign-in page */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #6F4E37;
    margin: 0;
    padding: 0;
}

/* Styles for the top bar */
.top-bar {
    background-color: #f1e3af;
    text-align: center;
    padding: 10px;
}

/* Center the logo within the top bar */
.centered-logo {
    margin-top: 25px;
    margin-bottom: 15px;
    display: block;
    margin: 0 auto;
    width: 120px;
    box-shadow: 10px 10px 10px rgba(113, 52, 9, 0.5);
    /* Adjust the maximum width as needed */
    height: 120;
    /* Maintain aspect ratio */
}


.signin-container {
    background-color: #f1e3af;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 20px 20px 30px rgba(64, 28, 3, 0.545);
    text-align: center;
}

h1 {
    font-family: "Times New Roman", serif;
    font-size: 2.5rem;
    margin-bottom: 10px;
    background: linear-gradient(45deg, #593b25, #6F4E37);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    box-shadow: 5px 5px 8px rgba(77, 34, 4, 0.545);
    border: 2px solid #6F4E37;
    /* Add a 2px border */
    padding: 10px;
    /* Add some padding */
    background-color: #ffdb58;
    /* Change the background color */
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #777;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 1.2rem;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    font-family: "Times New Roman", serif;
    background-color: #f1e3af;
    width: 95%;
    padding: 10px;
    border: 1px solid#6F4E37;
    border-radius: 5px;
    font-size: 1rem;
}

.btn {
    background-color: #542f15;
    color: #fff;
    box-shadow: 5px 5px 8px rgba(69, 30, 2, 0.545);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #4b2c16;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .signin-container {
        width: 90%;
    }
}